body {
    margin: 0;
    
}
.miniatures {
    width: 1000px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 250px;
    gap: 2em;

}
.mini {
    border: .4px dotted burlywood;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

}